<div class="background">
    <%= yield %>
    <div class="title">
      <h1>GEOQUIZZ</h1>
    </div>
    <div class="text_question"><h1>Question :</h1></div>
    <div class="container_questions">
      <div class="rectangle_questions"><h2>Ici se trouveront les questions</h2></div>
    </div>
    <div class="container_answers mrg_top">
      <a class="square_answers"><h2>1.</h2></a>
      <a class="square_answers"><h2>2.</h2></a>
    </div>
    <div class="container_answers">
      <a class="square_answers"><h2>3.</h2></a>
      <a class="square_answers"><h2>4.</h2></a>
    </div>

</div>
