<div class="background">
    <%= yield %>
    <div class="title">
        <h1>GEOQUIZZ</h1>
    </div>
    <div class="travaux">
      <h2>/!\ Ce jeu est en version bêta /!\</h2>
      <br>
      <h2></h2>
    </div>
    <div class="container_btn">
      <a href="quizz" class="btn">
        <h1>PLA</h1>
      </a>
    </div>
</div>
