

<div class="background">
    <%= yield %>
    <div>
        <h1>GEOQUIZZ</h1>
    </div>
    <div class="container_btn">
      <div class="btn">
        <h2>PLAY</h2>
      </div>
    </div>
</div>
