

<div class="background">
    <%= yield %>
    <div class="title">
        <h1>GEOQUIZZ</h1>
    </div>
    <div class="travaux">
      <h2>/!\ Jeu en cours de production /!\</h2>
    </div>
    <div class="container_btn">
      <a href="questions#index" class="btn">
        <h1>PLAY</h1>
      </a>
    </div>
</div>
