<div class="background">
    <%= yield %>
    <div class="title">
        <h1>GEOQUIZZ</h1>
    </div>
    <div class="travaux">
      <h2>/!\ Ce jeu est en version bêta /!\</h2>
    </div>
    <div class="container-btns">
      <div class="container_btn">
        <a href="quizz" class="btn-green">
          <h1 class="green">Facile</h1>
        </a>
      </div>
      <div class="container_btn">
        <a href="quizz/medium" class="btn-orange">
          <h1 class="orange">Moyen</h1>
        </a>
      </div>
      <div class="container_btn">
        <a href="quizz" class="btn-red">
          <h1 class="red">Difficile</h1>
        </a>
      </div>
    </div>
</div>