/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0 !important;
  padding: 0 !important;
}

.background {
  height: 100vh;
  width: 100%;
  background: linear-gradient(150deg, #00ff88, #00ffe6);
  margin-bottom: 100px;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding: 60px !important;
}

.travaux {
  display: flex;
  justify-content: center;
  margin-top: 28vh !important;
}

.container_btn {
  display: flex;
  justify-content: center;
  margin-left: 3vh !important;
  margin-right: 3vh !important;
}

.container-btns {
  display: flex;
  justify-content: center;
  margin-top: 28vh !important;
}

.btn-green {
  height: 60px;
  width: 160px;
  border-radius: 50px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: green !important;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s ease-out;
}

.btn-orange {
  height: 60px;
  width: 160px;
  border-radius: 50px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: orange !important;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s ease-out;
}

.btn-red {
  height: 60px;
  width: 160px;
  border-radius: 50px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: red !important;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s ease-out;
}

.btn-green:hover {
  background-color: green;
  color: white !important;
  border: 2px solid white;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.btn-orange:hover {
  background-color: orange;
  color: white !important;
  border: 2px solid white;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.btn-red:hover {
  background-color: red;
  color: white !important;
  border: 2px solid white;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.container_questions {
  width: 100%;
  margin-top: 4vh !important;
  display: flex;
  justify-content: center;
}

.rectangle_questions {
  width: 70%;
  height: 50px;
  background-color: #fff;
  color: black;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text_question {
  width: 100%;
  margin-top: 5vh !important;
  display: flex;
  justify-content: center;
  text-decoration: underline 2px;
}

.container_answers {
  display: flex;
  justify-content: center;
}

.square_answers {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 20%;
  height: 100px;
  margin: 10px !important;
  background-color: #fff;
  color: black;
  border-radius: 15px;
}

.square_answers:hover {
  background-color: black;
  color: white;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.container_next {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-top: 4vh !important;
  text-decoration: underline;
}

@media screen and (max-width: 700px) {

  .square_answers {
    width: 30%;
  }

  .text_question {
    margin-top: 10vh !important;
  }
}

@media screen and (max-width: 400px) {

  .square_answers {
    width: 40%;
  }
}

.mrg_top {
  margin-top: 20px !important;
}

@media screen and (max-width: 400px) {

  .title {
    font-size: 1.5rem;
  }
}

.correct,
.correct:hover {
  background-color: green;
}

.incorrect,
.incorrect:hover {
  background-color: red;
}