name: Geoquizz
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.jobs
        uses: actions/setup-node@v2
        with:
          node-version: '20.18.0'
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
